<h1 style="display: inline;"><%= @p_app.name %>'s Snapshots</h1>
<p style="display: inline;">(Click to see dependencies)</p>
<%  @p_app.snapshots.each do |snap| %>
  <%= puts snap.name %>
  <ul>
    <li><a href="papp/snap/<%= snap.id %>"><%= snap.id %> : <%= snap.name %></a></li>
  </ul>
<%  end %>

